@import "~reset-css/sass/_reset.scss";
@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/Light/MullerLight.eot');
  src: url('../fonts/Muller/Light/MullerLight.woff2') format('woff2'),
       url('../fonts/Muller/Light/MullerLight.woff') format('woff'),
       url('../fonts/Muller/Light/MullerLight.ttf') format('truetype'),
       url('../fonts/Muller/Light/MullerLight.svg#MullerLight') format('svg'),
       url('../fonts/Muller/Light/MullerLight.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/Bold/MullerBold.eot');
  src: url('../fonts/Muller/Bold/MullerBold.woff2') format('woff2'),
       url('../fonts/Muller/Bold/MullerBold.woff') format('woff'),
       url('../fonts/Muller/Bold/MullerBold.ttf') format('truetype'),
       url('../fonts/Muller/Bold/MullerBold.svg#MullerBold') format('svg'),
       url('../fonts/Muller/Bold/MullerBold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/Regular/MullerRegular.eot');
  src: url('../fonts/Muller/Regular/MullerRegular.woff2') format('woff2'),
       url('../fonts/Muller/Regular/MullerRegular.woff') format('woff'),
       url('../fonts/Muller/Regular/MullerRegular.ttf') format('truetype'),
       url('../fonts/Muller/Regular/MullerRegular.svg#MullerRegular') format('svg'),
       url('../fonts/Muller/Regular/MullerRegular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@import "main";
@import "responsive";