@keyframes lineL {
    0% {
        transform: translateX(-100%) scaleX(1)
    }
    50% {
        transform: translateX(-100%) scaleX(0)
    }
    100% {
        transform: translateX(-100%) scaleX(1)
    }
}

@keyframes lineT {
    0% {
        transform: translate(-50%, -100%) scaleY(1)
    }
    50% {
        transform: translate(-50%, -100%) scaleY(0)
    }
    100% {
        transform: translate(-50%, -100%) scaleY(1)
    }
}

@keyframes lineR {
    0% {
        transform: translateX(100%) scaleX(1)
    }
    50% {
        transform: translateX(100%) scaleX(0)
    }
    100% {
        transform: translateX(100%) scaleX(1)
    }
}

* {
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1405px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex !important;
    flex-wrap: wrap;
}

.header {
    position: fixed;
    padding-top: 50px;
    left: 0;
    width: 100%;
    z-index: 5;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform .3s;
    }
    &.active {
        &::before {
            transform: scaleY(1);
        }
    }
    &__wrap {
        padding: 0 30px;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .style-select {
        width: auto;
        padding: 0 20px;
        position: relative;
        &:hover {
            &::before {
                animation: lineL .5s linear alternate;
            }
        }
        &::before {
            content: '';
            display: block;
            height: 2px;
            width: 50px;
            background-color: #85714c;
            position: absolute;
            top: 6px;
            left: 0;
            transform-origin: right;
            transform: translateX(-100%);
        }
        .ss-selected-option {
            background-image: none;
            border: none;
            padding: 0;
            &::after {
                display: none;
            }
        }
        &, .ss-selected-option {
            font: 700 14px 'Muller' !important;
            text-transform: uppercase;
            color: #fff !important;
        }
        .ss-dropdown {
            background-color: rgba(0, 0, 0, .8);
            border: none;
            border-left: 2px solid #85714c;
            top: -10px;
            left: -2px;
            .ss-option {
                padding: 10px 20px;
                font: 700 14px 'Muller' !important;
                text-transform: uppercase;
                color: #fff !important;
                background-color: transparent;
                &.ticked {
                    &::before {
                        display: none;
                    }
                }
                &:hover, &.highlighted {
                    background-color: transparent;
                }
            }
        }
    }
}

.nav {
    &__item {
        position: relative;
        &:not(:last-child) {
            margin-right: 84px;
        }
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #85714c;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .5s;
        }
        &:hover {
            &::after {
                transform: scaleX(1);
            }
            .nav__link {
                color: #85714c;
            }
        }
    }
    &__link {
        color: #fff;
        font: 700 14px 'Muller';
        text-transform: uppercase;
        transition: color .5s;
    }
}

.logo {
    &__img {
        max-height: 63px;
        object-fit: contain;
    }
}

.hero {
    &-slider {
        &__item {
            width: 100%;
            height: 100vh;
            position: relative;
            align-items: center;

            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .6);
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
            }
            &:nth-child(2n) {
                .hero-slider__title {
                    transform: translateY(-100%);
                }
                &.tns-slide-active {
                    .hero-slider__title {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
            &:nth-child(2n-1) {
                .hero-slider__title {
                    transform: translateX(-100%);
                }
                &.tns-slide-active {
                    .hero-slider__title {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
        &__title {
            padding-left: calc((100% - 1365px) / 2);
            max-width: 65%;
            width: 100%;
            font: 700 72px 'Muller';
            color: #fff;
            position: relative;
            z-index: 2;
            opacity: 0;
            transition: .3s all .5s;
        }
    }
    &__wrap {
        position: relative;

    }
    &-footer {
        width: 100%;
        position: absolute;
        bottom: 50px;
        justify-content: flex-end;
        padding-right: 30px;
        &__detail {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            &:hover {
                span {
                    color: #85714c;
                }
                &::before {
                    animation: lineT .5s linear alternate;
                }
            }
            span {
                font: 700 14px 'Muller';
                color: #fff;
                transition: color .3s;
            }
            &::before {
                content: '';
                display: block;
                width: 2px;
                height: 50px;
                background-color: #fff;
                position: absolute;
                left: 50%;
                top: -20px;
                transform-origin: bottom;
                transform: translate(-50%, -100%);
            }
        }
        .social {
            &__link {
                color: #fff;
            }
            &__item {
                &::after {
                    background-color: #fff;
                }
            }
        }
    }
}

.social {
    &__item {
        position: relative;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .3s;
        }
        &:hover {
            &::after {
                transform: scaleX(1);
            }
        }
        &:not(:last-child) {
            margin-right: 75px;
        }
    }
    &__link {
        font: 700 14px 'Muller';
    }
}

.tns-outer {
    .tns-controls, & > button {
        display: none;
    }
    .tns-nav {
        position: absolute;
        bottom: 50px;
        left: 100px;
        z-index: 2;
        counter-reset: dots;
        & > button {
            background-color: #9f9e9d;
            padding: 1px 20px 1px 20px;
            position: relative;
            counter-increment: dots;
            &::before {
                content: "0 " counter(dots);
                position: absolute;
                left: 50%;
                transform: translate(-50%, -100%);
                top: -10px;
                font: 700 14px 'Muller';
                color: #fff;
                display: none;
                width: 25px;
                text-align: center;
            }
            &.tns-nav-active {
                background-color: #fff;
                &::before {
                    display: block;
                }
            }
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}

.about {
    padding-top: 167px;
    padding-bottom: 155px;
    position: relative;
    overflow: hidden;
    &::before {
        content: 'о нас';
    }
    &__wrap {
        justify-content: space-between;
    }
    &__article {
        max-width: 450px;
        width: 100%;
        padding-top: 50px;
    }
    &__photo {
        flex: 1;
        max-width: 50%;
        &::before {
            content: '';
            display: block;
            border: 200px solid transparent;
            border-right: 200px solid rgb(240, 248, 251);
            border-bottom: 200px solid rgb(240, 248, 251);
            position: absolute;
            right: -80px;
            bottom: -80px;
            z-index: -1;
        }
    }

    .article {
        &__title, &__text, &__link {
            opacity: 0;
        }
        &__title {
            transition: .5s opacity .4s;
        }
        &__text {
            transition: .5s opacity .6s;
        }
        &__link {
            transition: .5s opacity .9s;
        }
    }
    &-photo {
        &__img {
            transform: translateX(200px);
            opacity: 0;
            transition: .5s opacity .4s, .5s transform .4s;
        }
        &__experience {
            opacity: 0;
            transition: .5s opacity .9s;
        }
        .number-slider {
            opacity: 0;
            transform: translateY(-150px) translateX(50%) rotate(-90deg) !important;
            transition: .5s transform 1.2s, .5s opacity 1.2s;
        }
        &::before {
            transform: translateX(450px);
            transition: .5s transform 1.6s;
        }
    }

    &.in-view {
        .article {
            &__title, &__text, &__link {
                opacity: 1;
            }
        }
        .about {
            &-photo {
                &__img {
                    transform: translateX(0px);
                    opacity: 1;
                }
                &__experience {
                    opacity: 1;
                }
                .number-slider {
                    opacity: 1;
                    transform: translateY(0px) translateX(50%) rotate(-90deg) !important;
                }
                &::before {
                    transform: translateX(0px);
                }
            }
        }
    }
}

.bgText {
    position: relative;
    &::before {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font: 700 250px 'Muller';
        color: #fafafa;
        text-transform: uppercase;
        z-index: -1;
        width: 100%;
        text-align: center;
    }
}

.article {
    &__title {
        color: #333333;
        font: 700 48px 'Muller';
        margin-bottom: 70px;
    }
    &__desc {
        margin-bottom: 50px;
    }
    &__text {
        color: #333333;
        font: 200 16px 'Muller';
        line-height: 1.875;
        &:not(:last-child) {
            margin-bottom: 45px;
        }
    }
    &__link {
        font: 700 14px 'Muller';
        text-transform: uppercase;
        position: relative;
        color: #000;
        &:hover {
            &::before {
                animation: lineR .5s linear alternate;
            }
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            transform: translateX(100%);
            right: -50px;
            top: 5px;
            width: 50px;
            height: 2px;
            transform-origin: left;
            background-color: #000000;
        }
    }
}

.about-photo {
    flex: 1;
    position: relative;
    &__img {
        text-align: right;
        span {
            color: rgba(51, 51, 51, 0.502);
            font: 700 16px 'Muller';
            margin-bottom: 20px;
            text-align: right;
            text-transform: uppercase;
            display: inline-block;
        }
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    &__experience {
        position: absolute;
        bottom: 73px;
        left: -180px;
    }
    .number-slider {
        position: absolute;
        top: 50%;
        transform: translateX(50%) rotate(-90deg);
        right: 0;

    }
}

.experience {
    width: 383px;
    border: 5px solid #85714c;
    padding: 23px 25px 0px 25px;
    &__text {
        color: #85714c;
        font: 700 14px 'Muller';
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    &__count {
        font: 700 72px 'Muller';
        color: #85714c;
    }
}

.number-slider {
    transform: rotate(-90deg);
    align-items: flex-end;
    h2 {
        color: #333333;
        font: 700 150px 'Muller';
    }
    p {
        color: #333333;
        font: 200 24px 'Muller';
        text-transform: uppercase;
        padding-bottom: 30px;
    }
}

.interiors {
    padding-bottom: 100px;
    overflow: hidden;
    &__title {
        color: #333333;
        font: 700 48px 'Muller';
        margin-bottom: 60px;
        max-width: 50%;
        width: 100%;
        opacity: 0;
        transform: translateX(-200px);
        transition: .5s opacity .4s, .5s transform .4s;
    }
    &__article {
        margin-bottom: 75px;
        position: relative;
        &::before {
            content: 'услуги';
        }
        .number-slider {
            position: absolute;
            left: 40%;
            top: 42%;
            opacity: 0;
            transition: .5s opacity 1.6s, .5s transform 1.6s;
            transform: rotate(-90deg) translateX(200px);
        }
    }
    #interiors {
        .interiors__img {
            opacity: 0;
            transform: translateX(-200px);
            transition: .5s opacity .8s, .5s transform .8s;
        }
        .article {
            opacity: 0;
            transform: translateX(200px);
            transition: .5s opacity .8s, .5s transform .8s;
        }
    }
    #architecture {
        .interiors__img {
            opacity: 0;
            transform: translateX(200px);
            transition: .5s opacity 1.2s, .5s transform 1.2s;
        }
        .article {
            opacity: 0;
            transform: translateX(-200px);
            transition: .5s opacity 1.2s, .5s transform 1.2s;
        }
    }
    &__img {
        max-width: 50%;
        width: 100%;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    &__wrap {
        justify-content: space-between;
        align-items: center;
        &:first-child {
            margin-bottom: 110px;
        }
        .article {
            max-width: 460px;
            width: 100%;
        }
    }
    &.in-view {
        .interiors__title {
            opacity: 1;
            transform: translateX(0px);
        }
        #interiors,#architecture{
            .interiors__img,.article{
                opacity: 1;
                transform: translateX(0px);
            }
        }
        .number-slider{
            opacity: 1;
            transform: rotate(-90deg) translateX(0px);
        }
    }
}

.btn {
    height: 60px;
    width: 320px;
    background-color: #85714c;
    text-transform: uppercase;
    font: 700 14px 'Muller';
    line-height: 60px;
    color: #fff;
    display: block;
    text-align: center;
    position: relative;
    margin: 0 auto;
    transition: box-shadow .3s;
    &:hover {
        box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.55);
        &::before, &::after {
            transform: scale(0);
        }
    }
    &::before, &::after {
        content: '';
        display: block;
        width: 20px;
        height: 1px;
        background-color: #85714c;
        position: absolute;
        top: calc(50% - 1px);
        transition: transform .3s;
    }
    &::before {
        left: -20px;
        transform-origin: right;
    }
    &::after {
        right: -20px;
        transform-origin: left;
    }
}

.portfolio {
    background-color: #333333;
    padding: 100px 0 70px 0;
    &__top {
        align-items: center;
        margin-bottom: 175px;
    }
    &__title {
        color: #fff;
        font: 700 36px 'Muller';
        max-width: 550px;
        width: 100%;
        margin-right: 250px;
    }
    &__more {
        font: 700 14px 'Muller';
        text-transform: uppercase;
        color: #fff;
        position: relative;
        &:hover {
            &::before {
                animation: lineR .5s linear alternate;
            }
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            transform: translateX(100%);
            right: -50px;
            top: 5px;
            width: 50px;
            height: 2px;
            transform-origin: left;
            background-color: #fff;
        }
    }
    &-sidebar {
        width: 350px;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        &__theme {
            font: 400 14px 'Muller';
            color: #5c5c5c;
            margin-bottom: 40px;
            display: inline-block;
            opacity: 0;
            transition: .3s opacity .3s;
        }
        &__title {
            color: #fff;
            font: 700 36px 'Muller';
            margin-bottom: 120px;
            transform: translateX(-100%);
            transition: .3s transform .3s;
        }
        &__desc {
            font: 200 14px 'Muller';
            color: #999999;
            margin-bottom: 90px;
            line-height: 1.714;
            max-width: 230px;
            transform: translateX(-100%);
            transition: .3s transform .5s;
        }
        &__link {
            text-transform: uppercase;
            color: #fff;
            font: 700 16px 'Muller';
            letter-spacing: 2px;
            position: relative;
            display: inline-block;
            transform: translateX(-100%);
            transition: .3s transform .7s;
            padding-bottom: 3px;
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: #fff;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform .5s;
                position: absolute;
                bottom: 0px;
                left: 0;
            }
            &:hover {
                &::after {
                    transform: scaleX(1);
                }
            }
        }
    }
    &-slider {
        &__img {
            max-width: calc(100% - 230px);
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &__wrap {
            position: relative;
            justify-content: flex-end;
        }
    }
    &__item {
        &.tns-slide-active {
            .portfolio-sidebar__theme {
                opacity: 1;
            }
            .portfolio-sidebar__title, .portfolio-sidebar__desc, .portfolio-sidebar__link {
                transform: translateX(0);
            }
        }
    }
    &__wrap {
        position: relative;
        padding-bottom: 90px;
        &::before {
            content: '';
            display: block;
            height: calc(100% + 30px);
            position: absolute;
            top: -60px;
            left: 455px;
            width: 230px;
            background-color: #4c463b;
        }
        .tns-nav {
            bottom: 0;
            left: 0;
        }
    }
}

.contacts {
    padding-top: 110px;
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;
    &::before {
        content: 'Контакты';
    }
    &__title {
        color: #333333;
        font: 700 48px 'Muller';
        margin-bottom: 220px;
        max-width: 50%;
    }
    &__footer {
        justify-content: space-between;
        padding: 0 30px;
        .copyright {
            color: #cccccc;
            font: 700 14px 'Muller';
        }
        .social {
            &__link {
                color: #333333;
            }
            &__item {
                &::after {
                    background-color: #333333;
                }
            }
        }
        .author {
            color: #d1d1d1;
            font: 700 14px 'Muller';
            a {
                color: #333333;
                text-transform: uppercase;
            }
        }
    }
    &-info {
        margin-bottom: 250px;
        &__wrap {
            justify-content: center;
            margin-bottom: 110px;
        }
        &__block {
            transform: translateY(-200px);
            opacity: 0;

            &:first-child {
                margin-right: 455px;
                transition: .5s opacity .2s, .5s transform .2s;
            }
            &:last-child {
                transition: .5s opacity .4s, .5s transform .4s;
            }
        }
        &__label {
            color: #999999;
            font: 400 18px 'Muller';
            display: block;
            margin-bottom: 15px;
        }
        &__link {
            font: 700 24px 'Muller';
            color: #333333;
            transition: opacity .3s;
            &:hover{
                opacity: .6;
            }
        }
        .btn{
            opacity: 0;
            transition:.5s opacity .8s;
        }
    }
    &.in-view{
        .contacts-info{
            .btn{
                opacity: 1;
            }
        }
        .contacts-info__block{
            transform: translateY(0px);
            opacity: 1;
        }
    }
}

