@media screen and (max-width: 1440px) {
    .hero-slider {
        &__title {
            padding-left: 20px;
            font-size: 60px;
        }
    }
    .about {
        &.in-view {
            .about {
                &-photo {
                    .number-slider {
                        transform: translateY(0) translateX(0%) rotate(0deg) !important;
                    }
                }
            }
        }
        &-photo {
            .number-slider {
                top: 0;
                transform: translateY(0) translateX(0%) rotate(0deg) !important;
            }
        }
    }
    .experience {
        left: -30px;
        background-color: rgba(0, 0, 0, .6);
    }
    .interiors {
        &.in-view {
            .interiors {
                &__article {
                    .number-slider {
                        transform: rotate(0deg) translateX(0);
                    }
                }
            }
        }
        &__article {
            .number-slider {
                transform: rotate(0deg) translateX(0);
                top: 41%;
            }
        }
    }
    .portfolio {
        &-sidebar {
            width: 400px;
            &__title {
                margin-bottom: 70px;
            }
            &__desc {
                margin-bottom: 70px;
                max-height: 184px;
                overflow: hidden;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 10px 0;
    }
    .nav {
        display: none;
    }
    .hero-slider {
        &__title {
            max-width: 100%;
            font-size: 40px;
        }
    }

    .tns-outer {
        .tns-nav {
            left: 30px;
        }
    }
    .about {
        padding-top: 0;
        &__wrap {
            flex-direction: column;
        }
        &__article {
            max-width: 100%;
            margin-bottom:20px;
        }
        &__photo {
            max-width: 80%;
            margin: 0 auto;
            &::before {
                display: none;
            }
        }
    }
    .bgText {
        &::before {
            font-size: 150px;
        }
    }
    .interiors {
        &__title {
            max-width: 100%;
        }
        &__wrap {
            flex-direction: column;
            .article {
                max-width: 60%;
            }
            .interiors__img {
                max-width: 60%;
            }
            &#interiors {
                align-items: flex-start;
                .interiors__img {
                    margin-bottom: 20px;
                }
            }
            &#architecture {
                align-items: flex-end;
                .interiors__img {
                    margin-top: 20px;
                }
            }
        }
    }
    .portfolio {
        &__more {
            &::before {
                display: none;
            }
        }
        &__top {
            justify-content: space-between;
            align-items: center;
        }
        &__title {
            margin-right: 0;
        }
        &-slider {
            &__img {
                max-width: 100%;
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, .6);
                }
            }
        }
        &-sidebar {
            width: 80%;
            left: 20px;
            top: 20px;
            z-index: 2;
            &__theme, &__desc {
                color: #fff;
            }
            &__desc {
                max-width: 100%;
            }
        }
    }
    .contacts {
        &__title {
            max-width: 100%;
            margin-bottom: 100px;
        }
        &-info {
            margin-bottom: 100px;
            &__wrap {
                justify-content: space-between;
            }
            &__block {
                &:first-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        &-footer {
            &__detail {
                display: none;
            }
            .social {
                display: none;
            }
        }
    }
    .portfolio {
        padding-top: 50px;
        &__top{
            flex-direction: column;
            align-items: flex-start;
            margin-bottom:130px;
        }
        &__title{
            margin-bottom:20px;
        }
        &__more{
            &::before{
                display: block;
            }
        }
        &__wrap {
            &::before {
                right: 10%;
                left: auto;
            }
        }
        &-slider{
            &__img{
                height:400px;
                img{
                    height:100%;
                }
            }
        }
        &-sidebar{
            &__title{
                font-size: 24px;
                margin-bottom:25px;
            }
        }
    }
    .number-slider {
        display: none !important;
    }
    .about {
        margin-bottom: 0;
        padding-bottom: 50px;
        &-photo {
            max-width: 100%;
        }
    }
    .experience {
        width: auto;
        left: auto;
        right:20px;
        top: 60px;
        bottom: auto;
        transform: translate(0, 0);
        background-color: rgba(0,0,0,.4);
        padding: 10px;
        &__text {
            margin-bottom: 30px;
        }
    }
    .interiors{
        &__img,.article{
            max-width: 100% !important;
        }
    }
    .bgText {
        &::before {
            font-size: 70px;
        }
    }
    .contacts{
        padding-top: 80px;
        padding-bottom:30px;
        &__title{
            font-size: 36px;
            margin-bottom:50px;
        }
        &-info{
            &__block{
                &:first-child{
                    margin-bottom:20px;
                }
            }
        }
        &__footer{
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
        }
        .author{
            margin-bottom:20px;
        }
        .social{
            margin-bottom:20px;
        }
    }
}

@media screen and (max-width: 425px){
    .hero-slider{
        &__title{
            font-size: 30px;
        }
    }
    .interiors,.article,.about{
        &__title{
            font-size: 40px;
        }
    }
    .article{
        &__title{
            margin-bottom:30px;
        }
    }
    .portfolio{
        &__title{
            font-size: 25px;
        }
        &-sidebar {
            top:30px;
            &__desc {
                max-height: 95px;

            }
        }
    }
    .interiors{
        padding-bottom:30px;
    }
    .btn{
        max-width: 250px;
        height: 40px;
        line-height: 40px;
    }
    .contacts{
        padding-top:30px;
        &__title{
            font-size: 25px;
        }
    }
}